.main_chat
  .main_chat_header
    .member_name_main
      test
      .member_name_sub
        Member:masa
    
    %a{ href: '###' , class: 'edit_button'} Edit

  .main_chat_message
    .chat_messsage1
      .chat_massage1_masa
        masa
      .chat_message1_date
        2019/11/20(wed) 17:43:01
    .chat_message1_message
      おはよう！

      .chat_message2
        .chat_massage1_masa
          masa
        .chat_message1_date
          2019/11/20(wed) 17:43:43
    .chat_message1_message
      今日は夜から雨

  .main_chat_message_form
    .main_chat_message_form_block
      .main_chat_message_form_type
        %p
          %input{:class => "main_chat_message_form_type_a_message", :type => "text", :placeholder => "type a message"}/

        .main_chat_message_form_file_form
          %label{class: "input-box__image"}
            = icon('fas', 'image')
            %input{type: "file", class: "input-box__image_form"}
            %end
      .main_chat_message_form_send_btn
        .main_chat_message_form_send_btn_send
          Send