$btncolor: #38aef0;

.wrapper {
  display: flex;

}

.side_bar {
  background-color: #253141;
  width: 300px;
  text-decoration: none;

    &_header {
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;

      .user {
        background-color: #253141;
        height: 20px;
        width: 260px;
        display: flex;
    
          .name {
            color: #ffffff;
            font-size: 16px;
          }
      
          .edit {
            color: #ffffff;
            margin:0 0 0 auto;

              a { text-decoration: none;
              }

              
            .fa-edit {
              color: #ffffff;
              text-align: right;
              text-decoration: none;
            }

            .fa-cog {
              color: #ffffff;
              text-align: right;
              text-decoration: none;
            }
          }
      }
    }

    &_group {
      height: calc(100vh - 120px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
    }

      .group {
        a {
          text-decoration: none;
        }
      }
}

.main_chat {
  background-color: #ffffff;
  width: calc(100vw - 300px);

  &_header {
    background-color: #ffffff;
    height: 100px;
    border-bottom: 1px #eeeeee solid;
    display: flex;
  }

  &_message {
    background-color: #fafafa;
    height: calc(100vh - 225px);
    padding: 35px 0 0 40px;
    overflow: scroll;
    
    .upper-message {
      display: flex;

      &__user-name {
        color: #333333;
        font-size: 16px;
        margin: 0 10px 12px 0;
      }

      &__date {
        color: #999999;
        font-size: 12px;
      }
    }    

    .lower-message__content {
      color: #434A54;
      font-size: 14px;
      margin-bottom: 46px;
    }
  }
}

.member_name_main {
  color: #333333;
  font-size: 20px;
  padding: 35px 0 0 40px;
  display: block;
}

.member_name_sub {
  color: #999999;
  font-size: 12px;
  padding-top: 15px;
}

.edit_button {
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 72px;
  color: $btncolor;
  font-size: 16px;
  margin: 28px 60px 0 auto;
  border: solid 1px $btncolor;
  text-decoration: none;
}

.chat_messsage1 {
  padding: 35px 0 0 40px;
  display: flex;
}

.group__name {
  color: #ffffff;
  font-size: 15px;
  padding-bottom: 5px;
  
}

.group__message {
  margin-bottom: 40px;
  color: #ffffff;
  font-size: 11px;
  text-decoration: none;
}

.main_chat_message_form {
  background-color: #d2d2d2;
  height: 90px;

  &__block {
    height: 50px;
    padding: 20px 0 10px 40px;
    display: flex;
    margin-right: 40px;
  }
  
  .new_message {
    display: flex;
  }
    
  &_send__btn__send {
    color: white;
    text-align: center;    
    margin-left: 10px;
    width: 100px;
    height: 50px;
    background-color: $btncolor;
    cursor: pointer;
    
  }
  
    &__type {
      height: 50px;
      width: 100%;
      position: relative;

      &_a_message {
        height: 50px;
        width: 100%;
        padding-left: 10px;
      }
    }
      &_file__form{
        top: 10px;
        right: 110px;
        position: absolute;
        font-size: 1.3rem;
        .input-box__image_form {
          display: none;
        } 
      }
}
